$bgcolornav:#eb6b7e;
$bgcolorfooter:#ffc0cb;
$bgcolorsubtitulo:#af4d98;
$bgcolorformulario:#f897a7;
$bgcolorboton:#f4e4a9;
$bgcolorletraboton: #212529;
$bgcolorfondos: white;
$bgfondoresponsy: #fcf8ee;


