@import "colores";
@import "colecciones";
@import "somos";
@import "datosformulario";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  
  .aparecer {
    animation-duration: 8s;
    animation-name: aparecer;
    animation-iteration-count: infinite; }
  
  @keyframes aparecer {
    0% {
      opacity: 0; }
    50% {
      opacity: 1; }
    100% {
      opacity: 0; } }
  
  nav {
    padding: 1rem;
    background-color: $bgcolornav; }
    nav nav ul a {
      text-decoration: none;
      display: block; }
      nav nav ul a nav ul a:hover {
        Text-decoration: underline; }
  
  .fotosCarrusel {
    width: 450px;
    height: 30rem;
    margin: 0 auto; }
   
  h1 {
    margin: 5px;
    padding: 5px;
    text-align: center; }
  
  section {
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    padding: 25px; }
    section .fotoVenta {
      width: 250px;
      height: 250px;
      margin: 2%; }
      section .fotoVenta img {
        object-fit: cover;
        overflow: visible;
        margin: auto; 
      }
  
  .scale:hover {
    transform: scale(1.1, 1.1); }
  
  .footer {
    background-color: $bgcolorfooter; 
  }
  .titulo {
    font-family: unset; }
    .subtitulo {
      color: $bgcolorsubtitulo; 
    }

    .rotate:hover {
      transform: rotate(10deg); }
 
  
 
  /* Desktop Styles */
@media only screen and (min-width: 1024px) {
  body {
    background-color: $bgcolorfondos; }
  p {
    font-size: 1.0rem; }
  .fotosCarrusel3 {
    width: 350px;
    height: 300px;
    margin: 0 auto; } }

/* Tabletas Styles */
@media only screen and (min-width: 768px) {
  body {
    background-color: $bgcolorfondos; }
  .espacioParrafo {
    margin: 0 auto; }
  p {
    font-size: 1.0rem; }
  .fotosCarrusel1 {
    width: 150px;
    height: 150px;
    margin: 0 auto; } 
  }
 .footerTamano {
    width: 100%;
    margin: 0 auto; }
    /* Pequeños Styles  */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
    background-color: $bgfondoresponsy; }
    p {
    font-size: 1.0rem; }
  .fotosCarrusel2 {
    width: 350px;
    height: 350px;
    margin: 0 auto;
    padding: 10px; } 
    .quienesSomos{
      width: 340px;
      margin: 5px;
      }
    .infoProceso{
      width: 300px;
    }
    .tamanoFormulario{
      width: 350px;
      height: 650px;
      margin: 0 auto; }
   }
.menu {
  margin: 0 auto;
  padding: 15px;
}
 
  