@import "colores";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    padding: 1rem;
    background-color: $bgcolornav;
    nav  ul a{
        text-decoration: none;
        display: block;
        nav ul a:hover{
            Text-decoration: underline;
               }
      
        }   
    }                                            
   
.fotosCarrusel{
    width: 450px;
    height: 30rem;
    margin: 0 auto;
}
.fotosCarrusel2{
    width: 800px;
    height: 500px;
    margin: 0 auto;
}

h1{
    margin: 5px;
    padding: 5px;
    text-align: center;
}

section{
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    padding: 25px;  
    .fotoVenta{
        width: 250px;
        height: 250px;
        margin: 2%; 
       
        img{
            object-fit: cover;
            overflow: visible;
            margin: auto;
        }
    }
}
.scale:hover{
    transform: scale(1.1, 1.1);
}
.footer{
    background-color: $bgcolorfooter;
    
} 
.formulario{
    border: $bgcolorformulario;   
    height: 650px;
    width: 500px;
    margin: 20px;
    padding: 60px;
    display: inline-block;
    border:double $bgcolorformulario;
    }
    .btn-primary{
        background-color: $bgcolorformulario;
        border-color: $bgcolorformulario;
    }
     .btn-primary:hover {
    color:  #212529;
    background-color: $bgcolorboton;
    border-color: $bgcolorformulario;
}
.caja2020{
        width: 300px;
        height: 200px;
        display: inline-block;
     
}
.titulo{
    color: $bgcolornav;
}
.subtitulo{
    color: $bgcolorsubtitulo;
}

.contenedor{
  width: 200px;    
  height: 500px;   
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px; 
}
.hijo{
    background-color:white;
    justify-content: center;
    padding: 15px;
    margin: 20px;
}
.rotate:hover{
    transform:rotate(10deg);
}
.quienessomos:hover{
    transform: scale(0.9, 0.9);  
}



/* Tablet Styles */
@media only screen and (min-width: 401px ) and (max-width: 960px) {
    p {
      font-size: 1.0rem; }
    .ampliar {
      width: 200px;
      height: 200px;
      margin: 0 auto; }
     }
 /* Desktop Styles */
@media only screen and (min-width: 961px) {
    p {
      font-size: 1.0rem; }
    .ampliar {
      width: 200px;
      height: 200px;
      margin: 0 auto; }
     }
  /* iPhone 4 */
     @media only screen and (-webkit-min-device-pixel-ratio : 1.5), 
     only screen and (min-device-pixel-ratio : 1.5) {
    p {
      font-size: 1.0rem; }
    .ampliar {
      width: 100px;
      height: 100px;
      margin: 0 auto; }
     }
     
    

 
   

